{% extends "layouts/main.twig" %}

{% block content %}

	<div class="article__body">
		<div class="article article--{{ channel|lower }} {{ channelObject[channel|lower] }}">

			<div class="article__header">
				<div class="article__profile">
					<span class="profile__user_image" style="background-image: url('{{ authorImage }}');"></span>
					<div class="profile__author_wrap">
						<div>
							<span class="article__author">By {{ entry.author.firstName }} {{ entry.author.lastName }}</span>
							<a href="/user-posts/{{entry.author.username}}" class="button button-sm button-blue">View profile</a>
						</div>
						<div class="profile__author-bio">{{ entry.author.authorBio }}</div>
					</div>
				</div>
				<div class="article__header_actions">
					<a href="#comments" class="button header_actions header_actions__comments article__header-item">Comments</a>
					<a href="javascript:void(0)" class="button header_actions header_actions__share article__header-item">Share
						{% include '/_elements/share-popup.twig' %}
					</a>
				</div>
			</div>
			<div class="article__container">


				<div class="article__channel_wrap">
					<div class="article__channel">{{ channel }}</div>
				</div>
				<h1 class="article__headline">{{ headline }}</h1>
				<div class="article__date">{{ date }}</div>
				<div class="article__intro">{{ text }}</div>

				{{ articleBody|raw }}

				<h2 class="comments-header" id="comments"><span class="disqus-comment-count" data-disqus-url="{{link}}"></span>Comments</h2>
				{% include "_elements/disqus" %}
			</div>


		</div>

	</div>
	<h2 class="text-center additional-articles__header">You may also like ...</h2>

	{% set articles = craft.entries.section('posts').find() %}
	<div class="card-container">
		{% if articles|length > 0 %}
			{% include '/_elements/_card-layout-thirds.twig' with {articles: articles} %}
		{% endif %}
	</div>
{% endblock %}
