{#{% set blogInfo = _Blog.getHomeBlogSettings()%}#}
{#<footer class="footer">#}
    {#<div class="footer__container">#}
        {#<div class="footer__info">#}
            {#<a href="{{networkData.defaultBlogUrl}}" class="footer__logo"><img src="{{_Media.getMediaUrl(networkData.logoMedia, 118, 78, {'crop': 'fit'})}}" /></a>#}

            {#<div class="social">#}
                {#{% if blogInfo.social['twitter'] is not empty %}#}
                    {#<a href="http://www.twitter.com/{{blogInfo.social['twitter']}}" class="fa_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>#}
                    {#{% endif %}#}
                    {#{% if blogInfo.social['facebook'] is not empty %}#}
                    {#<a href="http://{{blogInfo.social['facebook']}}" class="fa_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>#}
                    {#{% endif %}#}
                    {#{% if blogInfo.social['google'] is not empty %}#}
                    {#<a href="{{blogInfo.social['google']}}" class="fa_gplus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>#}
                    {#{% endif %}#}
            {#</div>#}
            {#<div class="footer__copyright">Copyright 2016</div>#}
        {#</div>#}
    {#</div>#}
{#</footer>#}

<footer class="footer">
    <div class="footer__container">
        <div class="footer__info-mobile">
            <a href="#" class="footer__logo"><img src="/static/images/logo.svg"/></a>
            <div class="footer__social-links">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
            </div>
            <a class="footer__additional-links" href="/contact">Contact Us</a>
            <a class="footer__additional-links" href="#">Privacy Policy</a>
            <a class="footer__additional-links" href="#">Terms & Conditions</a>
        </div>

        <div class="footer__desktop">
            <div class="footer__left">
                <a href="/" class="footer__logo"><img src="/static/images/logo.svg"/></a>
                <div class="footer__navigation">
                    <div class="header__navigation-row">
                        <ul class="header__navigation-list">
                            {% set entries = craft.categories.group('channels') %}
                            {% for i in 0..4 %}
                                {% set entry = entries[i] %}
                                <li class="header__navigation-item">
                                    <a href="{{ entry.url }}" class="header__navigation-link header__navigation-item--{{ entry.title|lower }} {{ channelObject[entry.title|lower] }}">
                                        {{ entry.title }}
                                    </a>
                                </li>
                            {% endfor %}
                            {% if entries[5] is defined %}
                                <li class="header__navigation-item dropdown">
                                    <a href="#" class="header__navigation-link dropdown-toggle" type="button" id="dropdown1" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                        More Channels <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                        {% for i in 5..(entries|length - 1)%}
                                            {% set entry = entries[i] %}
                                            <li class="header__navigation-item--{{ entry.title|lower }} {{ channelObject[entry.title|lower] }}"><a href="{{ entry.url }}" class="">{{ entry.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>

                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__right">
                <div class="footer__additional-links">
                    <div class="footer__social-links">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                    </div>
                    <a class="footer__additional-links" href="/contact">Contact Us</a>
                    <a class="footer__additional-links" href="#">Privacy Policy</a>
                    <a class="footer__additional-links" href="#">Terms & Conditions</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__container">
        <div class="footer__copyright">© All rights reserved</div>
    </div>
</footer>
