{% extends '_helpers/variables' %}

{# ===============
   UNIVERSAL CARD
   =============== #}

{% block content  %}

	{% set cardLinkClasses %}
		card card--{{ channel|lower }} link
		{% if cardType == 'social' %}card__{{ network|lower }}{% endif %}
		{% if thumbnail == '' %} card__no-image{% endif %}
	{% endset %}

	<article class="card--{{ cardType }} {{ channelObject[channel|lower] }}">
		<a href="{{link}}" data-slug="{{ slug }}" class="{{cardLinkClasses|replace({"\n":''})}} link" {% if thumbnail != '' %}style="background-image: url('{{ thumbnail }}');"{% endif %}>
			<div class="card__overlay">
				<div class="card__content_wrap">
					{% include '_elements/_admin-actions.twig' %}
					<div class="card__content">
						<div class="card__channel-wrap">
							<h5 class="card__channel">{{ channel }}</h5>
						</div>
						{% if cardType == 'social' %}
							{% if hasVideo == 'y' %}
								<div class="card__text-wrap">
									<img class="card__play-button" src="/static/images/icons/play-white.svg" alt="Play video button">
									<p class="card__text">
										{{ text|striptags[:120] ~ '...' }}
									</p>
								</div>
							{% else %}
								<p class="card__text">
									{{ text|striptags[:120] ~ '...' }}
								</p>
							{% endif %}
							<p class="card__author"><i class="card__network-icon fa {% if network == 'youtube' %}fa-youtube-play{% elseif network|lower == 'facebookpages' %}fa-facebook{% else %}fa-{{ network|lower }}{% endif %}"></i> @{{ author }}</p>
							<p class="card__read-more">By {{ author }}</p>
						{% elseif cardType == 'article' %}
							<h3 class="card__headline">{{ headline }}</h3>
							<p class="card__text">{{ text|striptags[:120] ~ '...' }}</p>
							<div class="card__read-time_wrap">
								<p class="card__read-time"><span class="card__paragraph-icon"></span> 5 min read</p>
							</div>
						{% endif %}
					</div>
					{% if thumbnail != '' %}
						<div class="card__image" style="background-image: url('{{ thumbnail }}');background-size: cover;background-position:center center;">
							{% if hasVideo == 'y' %}
								<img class="card__play-button" src="/static/images/icons/play-white.svg" alt="Play video button">
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		</a>
	</article>

{% endblock %}